[submodule "themes/simple-cv"]
	path = themes/simple-cv
	url = https://github.com/hootan09/simple-cv.git
[submodule "s-flow.github.io"]
	path = s-flow.github.io
	url = https://github.com/s-flow/s-flow.github.io.git
	branch = main
